/* 
Sélecteur logique : une balise html
*/
    
    /* Faire en sorte que tous les textes de la page soient centrés */
    body{
        text-align: center;
    }

    /* Sectionner la balise h2 */
    h2, h3{
        /* Changer la couleur de la font */
        color: red;
    }

    /* Sélectionner les balises a*/
    a {
        /* Supprimer le soulignement */
        text-decoration: none;
    }

/* 
Sélecteur imbriqué 
*/

    h2 b{
        color: green;
    }

    .redBackground h2 {
        color: white;
    }

    .redBackground h2 b {
        color: blue;
    }

/* 
Sélecteur par class 
*/

    /* Sélectionner la classe redBackground */

    .redBackground {
        /* Modifier la couleur de fond */
        background-color: red;
    }

/* 
Sélecteur par id 
*/

    /* Selection l'id bigTitle */
    #bigTitle {
        /* Modifier la taille de la font */
        font-size: 3rem;
    }


/* 
Sélecteur d'intéraction (état)
*/

    /* Changer la couleur des balises au survol */
    a:hover {
        color: red;
    }

    .redBackground:hover {
        background-color:green;
    }

    #bigTitle:hover {
        background-color: mediumseagreen;
    }