
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Adrien%20Rousselet/WORDPRESS/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Adrien%20Rousselet/WORDPRESS/index.php [L]
</IfModule>

# END WordPress